# IntelliJ
*.iml
**/.idea

# Visual Studio Code
**/.vscode/

# Eclipse
.classpath
.project
.settings

# NPM
**/node_modules
**/npm-debug.log

# Build
**/target/*
**/logs/*
**/scala-logging.log

# Typesafe Activator
**/project/*-shim.sbt
**/project/project/

# Binaries
**/bin/
**/libexec/
*.jar
*.gz

# Generated
**/RUNNING_PID

# Mac OS Stuff
**/.DS_Store

# Spark directories

spark-warehouse
metastore_db
artefacts
