# HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
#
# (c) 2016-2018 Hortonworks, Inc. All rights reserved.
#
# This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
# Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
# to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
# properly licensed third party, you do not have any rights to this code.
#
# If this code is provided to you under the terms of the AGPLv3:
# (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
# (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
#   LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
# (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
#   FROM OR RELATED TO THE CODE; AND
# (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
#   DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
#   DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
#   OR LOSS OR CORRUPTION OF DATA.

slick.dbs.default.driver = "{{dpprofiler_db_slick_driver}}"
slick.dbs.default.db.properties.driver = "{{dpprofiler_db_driver}}"
slick.dbs.default.db.url = "{{dpprofiler_db_jdbc_url}}"
slick.dbs.default.db.user = "{{dpprofiler_db_user}}"
slick.dbs.default.db.password = "{{dpprofiler_db_password}}"

livy {

  url = "{{livy_url}}"

  {{livy_session_config}}
}

job.status.refresh.interval.seconds = {{dpprofiler_job_status_refresh_interval}}

pidfile.path = "{{dpprofiler_pid_dir}}/profiler-agent.pid"

play.crypto.secret = ${?DPPROFILER_CRYPTO_SECRET}

profiler.autoregister = {{dpprofiler_profiler_autoregister}}

profiler.hdfs.dir = "{{dpprofiler_profiler_hdfs_dir}}"

profiler.dir = "{{dpprofiler_profiler_dir}}"

profiler.data.dir = "{{dpprofiler_data_dir}}"

profiler.user = "{{dpprofiler_user}}"

profiler.interactive.refreshtable.cron = "{{dpprofiler_refreshtable_cron}}"

profiler.interactive.refreshtable.retry = "{{dpprofiler_refreshtable_retry}}"

dpprofiler.kerberos.ticket.refresh.cron = "{{dpprofiler_kerberos_ticket_refresh_cron}}"

dpprofiler.kerberos.ticket.refresh.retry.allowed = "{{dpprofiler_kerberos_ticket_refresh_retry_allowed}}"

dpprofiler.secured = {{dpprofiler_secured}}

dpprofiler.kerberos.keytab = "{{dpprofiler_kerberos_keytab}}"

dpprofiler.kerberos.principal = "{{dpprofiler_kerberos_principal}}"

dpprofiler.spnego.kerberos.principal = "{{dpprofiler_spnego_kerberos_principal}}"

dpprofiler.spnego.kerberos.keytab = "{{dpprofiler_spnego_kerberos_keytab}}"

dpprofiler.spnego.cookie.name = "{{dpprofiler_spnego_cookie_name}}"

dpprofiler.spnego.signature.secret = "{{dpprofiler_spnego_signature_secret}}"

dpprofiler.sensitivepartitioned.metric.name = "{{dpprofiler_sensitivepartitioned_metric_name}}"

dpprofiler.senstitive.metric.name = "{{dpprofiler_senstitive_metric_name}}"

submitter {
  batch.size = {{dpprofiler_submitter_batch_size}}
  jobs.max = {{dpprofiler_submitter_jobs_max}}
  jobs.scan.seconds = {{dpprofiler_submitter_jobs_scan_seconds}}
  queue.size = {{dpprofiler_submitter_queue_size}}
}


play.modules.enabled += "org.flywaydb.play.PlayModule"

db.default.migration.initOnMigrate = true

db.default.migration.auto = true

{{dpprofiler_custom_config}}

include "flyway.conf"

include "clusterconfigs.conf"