clusterconfigs {
 clusterName = {{ambari_cluster_name}}
 assetMetricsPath = {{dpprofiler_profiler_dwh_dir}}
 atlasUser = {{atlas_username}}
 atlasPassword = {{atlas_password}}
 {{dpprofiler_cluster_configs}}
}
